* {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

body {
  background-color: black;
  background-image: linear-gradient(90deg, rgba(0, 128, 0, 0.47), rgba(255, 255, 255, 0.493), rgba(255, 0, 0, 0.47));
}

header {
  grid-area: header;
}
header p {
  font-size: 30px;
  padding: 0px 50px;
  text-shadow: 3px 3px 3px black;
  background-image: linear-gradient(45deg, rgba(0, 128, 0, 0.47), rgba(255, 255, 255, 0.493), rgba(255, 0, 0, 0.47));
}
header p span:nth-child(1) {
  color: rgb(4, 255, 0);
}
header p span:nth-child(2) {
  color: red;
}
header .logo {
  height: 70px;
  width: 70px;
  margin-left: 5px;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: rgb(37, 36, 36);
}
footer i {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
footer i:hover {
  transition: 0.7s linear;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white;
}

.grid-container-index {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header" "title" "texto" "footer";
  background: radial-gradient(rgba(200, 10, 10, 0.543), rgba(190, 32, 148, 0.749)), url("../images/fondoindex.jfif");
  background-size: cover;
  background-repeat: no-repeat;
}

article {
  grid-area: texto;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
}
article div {
  width: 80%;
  margin-bottom: 20px;
}
article div p {
  margin-top: 20px;
  font-size: 19px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 3px black;
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 2s;
}

.title {
  grid-area: title;
  margin-top: 120px;
  text-align: center;
  color: white;
}

@keyframes animacion {
  0% {
    transform: translatey(-100%);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
/* GRID DISCOGRAFIA*/
.grid-container-discografia {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header header header header" "h1 h1 h1 h1" "link1 link5 link5 link4" "link2 link3 link6 link7" "footer footer footer footer";
  gap: 40px;
}

#title {
  grid-area: h1;
  text-align: center;
  margin-top: 100px;
}

/* ESTILOS DE LOS LINKS A SPOTIFY E IMAGENES */
/* ANIMACION DE LOS LINKS*/
.link_spotify1, .link_spotify2, .link_spotify3, .link_spotify4, .link_spotify5, .link_spotify6, .link_spotify7 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 3%;
  font-size: 18px;
  box-shadow: 3px 3px 5px white;
  background-color: rgba(255, 255, 255, 0.274);
  animation-name: asd;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}

/* POSICIONAMIENTO EN GRID*/
.link_spotify1 {
  grid-area: link1;
  margin-left: 20px;
}

.link_spotify2 {
  grid-area: link2;
  margin-left: 20px;
}

.link_spotify3 {
  grid-area: link3;
}

.link_spotify4 {
  grid-area: link4;
  margin-right: 20px;
}

.link_spotify5 {
  grid-area: link5;
}

.link_spotify6 {
  grid-area: link6;
}

.link_spotify7 {
  grid-area: link7;
  margin-right: 20px;
}

@keyframes asd {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.grid-container-campeonatos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header" "titular" "images" "tabla" "footer";
}

.contenedor-carrusel {
  grid-area: images;
  display: flex;
  justify-content: center;
}
.contenedor-carrusel #carouselExampleAutoplaying {
  width: 1000px;
}

/* ESTILOS DEL TITULAR CAMPEONATOS*/
.titular_campeonatos {
  grid-area: titular;
  margin-top: 100px;
  font-size: 60px;
  text-align: center;
}

/* ESTILO DE LA TABLA*/
table, th, td {
  border: 2px solid rgb(2, 66, 7);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 3px 30px;
}

.tabla_campeonato {
  grid-area: tabla;
  display: flex;
  justify-content: center;
}
.tabla_campeonato div {
  margin: 20px 0px;
}

.grid-container-galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header header header header" "titulo titulo titulo titulo" "img1 img2 img3 img4" "img5 img6 img7 img8" "titulo2 titulo2 titulo2 titulo2" "video1 video2 video2 video3" "footer footer footer footer";
  gap: 10px;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
}
.img1 img, .img2 img, .img3 img, .img4 img, .img5 img, .img6 img, .img7 img, .img8 img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.img1 p, .img2 p, .img3 p, .img4 p, .img5 p, .img6 p, .img7 p, .img8 p {
  opacity: 0;
}
.img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover, .img7:hover, .img8:hover {
  transition: 2s;
  transform: scale(1.1, 1.1);
}
.img1:hover p, .img2:hover p, .img3:hover p, .img4:hover p, .img5:hover p, .img6:hover p, .img7:hover p, .img8:hover p {
  opacity: 1;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

.img7 {
  grid-area: img7;
}

.img8 {
  grid-area: img8;
}

.titular_galeria_1, .titular_galeria_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 20px;
}

.titular_galeria_1 {
  grid-area: titulo;
  margin-top: 100px;
}

.titular_galeria_2 {
  grid-area: titulo2;
}

.enlace_youtube1 {
  grid-area: video1;
  height: 300px;
  margin-left: 20px;
}

.enlace_youtube2 {
  grid-area: video2;
  height: 300px;
}

.enlace_youtube3 {
  grid-area: video3;
  height: 300px;
  margin-right: 20px;
}

.grid-container-contactos {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "form" "footer";
}

.formularios_contacto {
  grid-area: form;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 110px;
}

/* ESTILOS DEL FORMULARIO*/
.caja-form {
  display: flex;
  width: 40%;
  height: 600px;
  justify-content: end;
  align-items: center;
}
.caja-form p, .caja-form h1 {
  text-align: center;
  padding: 5px;
  margin-bottom: 30px;
}
.caja-form div {
  margin-bottom: 15px;
  display: flex;
  justify-content: end;
}

/* MEDIA QUERIES MOBILE   */
@media screen and (max-width: 767px) {
  /* MQ INDEX*/
  article div p {
    font-size: 14px;
  }
  footer {
    background-color: #200202;
  }
  footer i {
    font-size: 20px;
  }
  /* MQ discografia */
  .grid-container-discografia {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "header" "h1" "link5" "link1" "link2" "link3" "link4" "link6" "link7" "footer";
    gap: 40px;
  }
  .link_spotify1, .link_spotify2, .link_spotify3, .link_spotify4, .link_spotify6, .link_spotify7 {
    margin: 0px 20px;
  }
  .link_spotify5 {
    margin: 0px 20px;
  }
  .grid-container-galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, auto);
    grid-template-areas: "header" "titulo" "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8" "titulo2" "video1" "video3" "video2" "footer";
    gap: 10px;
  }
  .enlace_youtube1, .enlace_youtube2 {
    margin-right: 20px;
  }
  .enlace_youtube3, .enlace_youtube2 {
    margin-left: 20px;
  }
  /* MQ CONTACTOS*/
  .formularios_contacto {
    display: flex;
    justify-content: end;
    overflow: hidden;
  }
  .formularios_contacto h1, .formularios_contacto p {
    font-size: 15px;
  }
  .contenedor-carrusel {
    display: flex;
    justify-content: center;
  }
  .contenedor-carrusel #carouselExampleAutoplaying {
    width: 400px;
  }
  table, th, td {
    padding: 0px;
  }
}
/* MEDIA QUERIES TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* MQ DE INDEX*/
  article div p {
    margin-top: 20px;
    font-size: 17px;
  }
  /* MQ DE DISCOGRAFIA*/
  .grid-container-discografia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "header header" "h1 h1" "link5 link5" "link1 link4" "link2 link7" "link3 link6" "footer footer";
    gap: 20px;
  }
  .link_spotify5 {
    margin: 0px 20px;
  }
  .link_spotify3 {
    margin-left: 20px;
  }
  .link_spotify6 {
    margin-right: 20px;
  }
  /* MQ GALERIA*/
  .grid-container-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "header header" "titulo titulo" "img1 img2" "img3 img4" "img5 img6" "img7 img8" "titulo2 titulo2" "video1 video3" "video2 video2" "footer footer";
    gap: 10px;
  }
  .enlace_youtube2 {
    margin: 0px 20px;
  }
  /*  MQ CAMPEONATOS */
  .contenedor-carrusel {
    display: flex;
    justify-content: center;
  }
  .contenedor-carrusel #carouselExampleAutoplaying {
    width: 700px;
  }
}

/*# sourceMappingURL=style.css.map */
