* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: black;
  color: white;
  background-image: linear-gradient(90deg, rgba(0, 128, 0, 0.47), rgba(255, 255, 255, 0.493), rgba(255, 0, 0, 0.47));
}

header {
  grid-area: header;
}
header h1 {
  align-items: center;
  padding: 0px 50px;
  text-shadow: 3px 3px 3px black;
  background-image: linear-gradient(45deg, rgba(0, 128, 0, 0.47), rgba(255, 255, 255, 0.493), rgba(255, 0, 0, 0.47));
}
header h1 span:nth-child(1) {
  color: rgb(4, 255, 0);
}
header h1 span:nth-child(2) {
  color: red;
}

.logo {
  height: 70px;
  width: 70px;
  margin-left: 5px;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: rgb(37, 36, 36);
  /* texto con efecto brillante */
}
footer i {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
footer p {
  font-size: 20px;
  color: rgba(255, 0, 0, 0.84);
}
footer p span {
  transition: 0.7s linear;
}
footer p:hover:after {
  content: "ASDASDASDASD";
}
footer p:hover span:nth-child(1) {
  margin-right: 15px;
}
footer p:hover span:nth-child(2) {
  margin-left: 15px;
}
footer p:hover span, footer p:hover {
  color: white;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white;
}

@media screen and (max-width: 767px) {
  .grid-container-index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "foto" "texto" "footer";
  }
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    background-color: #200202;
  }
  .logo {
    padding-bottom: 10px;
  }
  .articulo_index, .nav a {
    font-size: 15px;
  }
  footer {
    background-color: #200202;
  }
  .imagen_index {
    display: flex;
    justify-content: center;
  }
  /* media queries discografia mobile*/
  .grid-container-discografia {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "header" "link1" "link2" "link3" "link4" "foto" "footer";
    background-color: black;
    gap: 40px;
  }
  .link_spotify1, .link_spotify2, .link_spotify3, .link_spotify4 {
    font-size: 15px;
    background-color: #200202;
    margin-right: 20px;
  }
  .link_spotify2, .link_spotify4 {
    margin-left: 20px;
  }
  .imagen_discografia {
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*FALTAN LAS MEDIA QUERIES DE INDEX (TABLET)*/
  .grid-container-discografia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header header" "link1 link2" "link3 link4" "foto foto" "foto foto" "footer footer";
    gap: 40px;
  }
  .nav ul li {
    margin-right: 10px;
  }
  .articulo_index, .nav a {
    font-size: 15px;
  }
  .imagen_discografia img {
    height: 350px;
    margin-left: 10px;
  }
  .link_spotify2, .link_spotify4 {
    margin-right: 20px;
  }
  .redes {
    height: 50px;
    width: 50px;
  }
}
.grid-container-index {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header" "video" "texto" "footer";
  background-image: url("../images/fondoindex.jfif");
  background-size: cover;
  background-repeat: no-repeat;
}

article {
  grid-area: texto;
  background-image: radial-gradient(rgba(200, 10, 10, 0.543), rgba(190, 32, 148, 0.749));
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
}
article div {
  width: 80%;
  margin: 50px;
}
article div p {
  font-size: 17px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 3px black;
}

/* GRID DISCOGRAFIA*/
.grid-container-discografia {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto, 1fr, 1fr, auto);
  grid-template-areas: "header header header header" "link1 link2 link3 link4" "link5 link5 link6 link7" "footer footer footer footer";
  gap: 40px;
}

/* ESTILOS DE LOS LINKS A SPOTIFY E IMAGENES */
.link_spotify1, .link_spotify2, .link_spotify3, .link_spotify4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  font-size: 23px;
  color: white;
  border-radius: 15px;
}

.link_spotify1 {
  grid-area: link1;
  margin-left: 20px;
  margin-top: 80px;
}

.link_spotify2 {
  grid-area: link2;
  margin-top: 80px;
}

.link_spotify3 {
  grid-area: link3;
  margin-left: 20px;
}

.link_spotify4 {
  grid-area: link4;
}

.link_spotify5 {
  grid-area: link5;
}

.link_spotify6 {
  grid-area: link6;
}

.link_spotify7 {
  grid-area: link7;
}

.imagen_discografia {
  grid-area: foto;
  margin-right: 20px;
  margin-top: 80px;
}
.imagen_discografia img {
  width: 100%;
  height: 550px;
}

.grid-container-campeonatos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header" "titular" "imagenes" "texto" "footer";
}

.contenedor-carrusel {
  display: flex;
  justify-content: center;
}
.contenedor-carrusel #carouselExampleAutoplaying {
  width: 1000px;
}

/* ESTILOS DEL TITULAR CAMPEONATOS*/
.titular_campeonatos {
  grid-area: titular;
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  color: red;
}

/* ESTILO DE LA TABLA*/
.tabla_campeonato {
  grid-area: texto;
}
.tabla_campeonato .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tabla_campeonato .box .tabla {
  display: flex;
  border-collapse: collapse;
}
.tabla_campeonato .box .tabla tr, .tabla_campeonato .box .tabla td {
  color: white;
  border: 3px solid white;
  padding: 0px 20px;
  text-align: center;
}

.grid-container-galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header header header header" "titulo titulo titulo titulo" "titulo2 titulo2 titulo2 titulo2" "img1 img2 img3 img4" "img5 img6 img7 img8" "video1 video2 video3 video4" "footer footer footer footer";
  gap: 15px;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
}
.img1 img, .img2 img, .img3 img, .img4 img, .img5 img, .img6 img, .img7 img, .img8 img {
  width: 80%;
  height: 80%;
}
.img1 p, .img2 p, .img3 p, .img4 p, .img5 p, .img6 p, .img7 p, .img8 p {
  opacity: 0;
}
.img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover, .img7:hover, .img8:hover {
  transition: 2s;
  transform: scale(1.2, 1.2);
}
.img1:hover p, .img2:hover p, .img3:hover p, .img4:hover p, .img5:hover p, .img6:hover p, .img7:hover p, .img8:hover p {
  opacity: 1;
}

.img1 {
  grid-area: img1;
  margin-top: 100px;
}

.img2 {
  grid-area: img2;
  margin-top: 100px;
}

.img3 {
  grid-area: img3;
  margin-top: 100px;
}

.img4 {
  grid-area: img4;
  margin-top: 100px;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

.img7 {
  grid-area: img7;
}

.img8 {
  grid-area: img8;
}

.grid-container-contactos {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "form" "footer";
}

.formularios_contacto {
  grid-area: form;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

/* ESTILOS DEL FORMULARIO*/
.caja-form {
  display: flex;
  width: 40%;
  height: 600px;
  justify-content: end;
  align-items: center;
}
.caja-form p, .caja-form h3 {
  text-align: center;
  padding: 5px;
}

.form {
  display: flex;
  justify-content: end;
}

/*# sourceMappingURL=style.css.map */
