.grid-container-campeonatos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:"header"
                        "titular"
                        "images"                    
                        "tabla"
                        "footer";
    
}

.contenedor-carrusel{
    grid-area: images;
    display: flex;
    justify-content: center;
    #carouselExampleAutoplaying{
    width: 1000px;    
    }
}

        /* ESTILOS DEL TITULAR CAMPEONATOS*/

.titular_campeonatos{
    grid-area: titular;
    margin-top: 100px;
    font-size: 60px;
    text-align: center;
}
    /* ESTILO DE LA TABLA*/

table, th, td{
    border: 2px solid rgb(2, 66, 7);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 3px 30px;

}
.tabla_campeonato{
    grid-area: tabla;
    display: flex;
    justify-content: center;
    div{
        margin: 20px 0px;
    }
}
