.grid-container-contactos{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header""form""footer";
    background-image: url("../images/banderamex.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}

.formularios_contacto{
    grid-area: form;   
}

        /* ESTILOS DEL FORMULARIO*/

.caja-form{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    p, h3{
        text-align: center;
        padding: 5px;
    }
}
