.grid-container-contactos{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header""form""footer";
}

.formularios_contacto{
    grid-area: form;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 110px;
}
        /* ESTILOS DEL FORMULARIO*/
.caja-form{
    display: flex;
    width: 40%;
    height: 600px;
    justify-content: end;
    align-items: center;
    
    
    p, h1{
        text-align: center;
        padding: 5px;
        margin-bottom: 30px;
    }
    div{
        margin-bottom: 15px;
        display: flex;
        justify-content: end;    
    }
}
