/* GRID DISCOGRAFIA*/

.grid-container-discografia{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto, 1fr, 1fr,auto);
    grid-template-areas: "header header header header"
                        "link1 link2 link3 link4"
                        "link5 link5 link6 link7"
                        "footer footer footer footer";
    gap: 40px;
}
 
        /* ESTILOS DE LOS LINKS A SPOTIFY E IMAGENES */

.link_spotify1,.link_spotify2,.link_spotify3,.link_spotify4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    font-size: 23px;
    color: white;
    border-radius: 15px;
}    
.link_spotify1{
    grid-area: link1;
    margin-left: 20px;
    margin-top: 80px;  
}
   
.link_spotify2{
    grid-area: link2;
    margin-top: 80px;  
}
.link_spotify3{ 
    grid-area: link3;
    margin-left: 20px; 
}
.link_spotify4{
   grid-area: link4;  
}
.link_spotify5{
    grid-area:  link5;
}
.link_spotify6{
    grid-area:  link6;
}
.link_spotify7{
    grid-area:  link7;
}

.imagen_discografia{
    grid-area: foto;
    margin-right: 20px;
    margin-top: 80px;  
    img{
        width: 100%;
        height: 550px;
    }   
}
