/* GRID DISCOGRAFIA*/

.grid-container-discografia{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto, 1fr, 1fr,auto);
    grid-template-areas: "header header header header"
                        ""
                        "link1 link5 link5 link4"
                        "link2 link3 link6 link7"
                        "footer footer footer footer";
    gap: 40px;
}
 
        /* ESTILOS DE LOS LINKS A SPOTIFY E IMAGENES */

.link_spotify1,.link_spotify2,.link_spotify3,.link_spotify4,.link_spotify5,.link_spotify6,.link_spotify7{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(2, 2, 2);
    box-shadow: 3px 3px 5px white;
    background-color: rgba(255, 255, 255, 0.274);
}  
.link_spotify1{
    grid-area: link1;
    margin-left: 20px;
    margin-top: 80px;  
}
   
.link_spotify2{
    grid-area: link2;
    margin-left: 20px;  
}
.link_spotify3{ 
    grid-area: link3;
     
}
.link_spotify4{
   grid-area: link4;
   margin-top: 80px;
   margin-right: 20px; 
}
.link_spotify5{
    grid-area:  link5;
    margin-top: 80px;
}
.link_spotify6{
    grid-area:  link6;
}
.link_spotify7{
    grid-area:  link7;
    margin-right: 20px;
}