        /* GRID GALERIA */

        .grid-container-galeria{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(7,auto);
            grid-template-areas: "header header header"
                                "titulo titulo titulo"
                                "video1 video2 video3"
                                "titulo2 titulo2 titulo2"
                                "img1 img2 img3"
                                "img4 img5 img6"
                                "footer footer footer";

            gap: 40px;
        }
            
                /* ESTILO DE LOS TITULARES*/
        
        .titular_galeria_1{
            grid-area: titulo;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            :hover{
                color: #006847;
                font-size: 18px;
            }
        }
        .titular_galeria_2{
            grid-area: titulo2;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            :hover{
                color: #006847;
                font-size: 18px;
            }
        }
                /* ESTILOS DE LAS IMAGENES Y VIDEOS */
                
        .galeria_img_1{
            grid-area: img1;
            height: 300px;
            margin-left: 20px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .galeria_img_2{
            grid-area: img2;
            height: 300px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .galeria_img_3{
            grid-area: img3;
            height: 300px;
            margin-right: 20px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .galeria_img_4{
            grid-area: img4;
            height: 300px;
            margin-left: 20px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .galeria_img_5{
            grid-area: img5;
            height: 300px; 
            img{
                width: 100%;
                height: 100%;
            }
        }
        .galeria_img_6{
            grid-area: img6;
            height:300px;
            margin-right: 20px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        
        .enlace_youtube1{
            grid-area: video1;
            height: 300px;
            margin-left: 20px;    
        }
        .enlace_youtube2{
            grid-area: video2;
            height: 300px;   
        }
        .enlace_youtube3{
            grid-area: video3;
            height: 300px;
            margin-right: 20px; 
        }   
        
    