.grid-container-galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7,auto);
    grid-template-areas: "header header header header"
                        "titulo titulo titulo titulo"
                        "img1 img2 img3 img4"
                        "img5 img6 img7 img8"
                        "titulo2 titulo2 titulo2 titulo2"
                        "video1 video2 video2 video3"
                        "footer footer footer footer";     
                        gap: 10px;      
} 
.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
    @include d-flex(center, center, wrap);
    height: 300px;
    width:  100%;
    img{
        @include images(80%,80%, cover)
    }
    p{
        opacity: 0;
    }
    &:hover{
        transition: 2s;
        transform: scale(1.1,1.1);
        p{
            font-family: $font-card;
            color: $text-color;
            opacity: 1;
        }            
    }
}
    .img1{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
    .img3{
        grid-area: img3;
    }
    .img4{
        grid-area: img4;
    }
    .img5{        
        grid-area: img5;
    }
    .img6{
        grid-area: img6;
    }
    .img7{
        grid-area: img7;
    }
    .img8{
        grid-area: img8;
    }
    .titular_galeria_1, .titular_galeria_2{
        @include d-flex(center, center, nowrap);
        padding: 20px;
    }
.titular_galeria_1{
    grid-area: titulo;
    margin-top: 100px;
}
.titular_galeria_2{
    grid-area: titulo2;
}      
.enlace_youtube1{
    grid-area: video1;
    height: 300px;
    margin-left: 20px;    
}
.enlace_youtube2{
    grid-area: video2;
    height: 300px;   
}
.enlace_youtube3{
    grid-area: video3;
    height: 300px;
    margin-right: 20px;
}  

