.grid-container-index{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:"header header"
                        "foto texto"
                        "footer footer";  
}

.imagen_index {
    grid-area:foto;
    display:flex;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 80%;
            height: 100%;  
        }
    }   
}

.articulo_index{
    grid-area: texto;
    margin: 50px;
    

    p{
        font-size: 20px;
        padding-bottom: 10px;
    }
}
