.grid-container-index{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"header"
                        "title"                        
                        "texto"
                        "footer";
                        background: radial-gradient(rgba(126, 6, 6, 0.543),rgba(121, 19, 94, 0.749)), url('../images/fondoindex.jfif');  
                        background-size: cover;
                        background-repeat: no-repeat;                       
}                      
article{
    grid-area: texto;
    @include d-flex(center,end, nowrap);  
    height: 100vh;
    div{
        width: 80%;
        margin-bottom: 20px;
        p{
            margin-top: 20px;
            font-size: 19px;
            text-align: center;
            color: $text-color;
            text-shadow:5px 5px 3px black ;
            animation-name: animacion;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-duration: 2s;
        }
    }
}
.title{
    grid-area: title;
    margin-top: 120px;
    color: $secondary-color;
    text-shadow: 5px 5px 5px white;
}
@keyframes animacion{
    0%{
        transform: translatey(-100%);
        opacity: 0;
    }
    100%{
        transform: translatey(0);
        opacity: 1;
    }
}