
/* MEDIA QUERIES MOBILE   */
@media screen and (max-width: 767px){

    /* MQ INDEX*/
    h1, h2{
        font-size: 40px;
    }
    article{
        div{           
            p{
            font-size: 14px; 
            }    
        }
        
    }
    footer{
        background-color: $secondary-color;
        i{
            font-size: 20px;
        }
    }
    /* MQ discografia */

    .grid-container-discografia{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, auto);
        grid-template-areas: "header"
                            "h1"
                            "link5"
                            "link1"
                            "link2"
                            "link3" 
                            "link4"
                            "link6"
                            "link7"
                            "footer";
        gap: 40px;
    }
    .link_spotify1, .link_spotify2,.link_spotify3,.link_spotify4,.link_spotify6,.link_spotify7{
        margin: 0px 20px;
    }
    .link_spotify5{
        margin: 0px 20px;
    }
    .grid-container-galeria{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(15,auto);
        grid-template-areas:"header"
                            "titulo"
                            "img1" 
                            "img2"
                            "img3"
                            "img4"
                            "img5"
                            "img6"
                            "img7"
                            "img8"
                            "titulo2"
                            "video1" 
                            "video3"
                            "video2"
                            "footer";
                            gap: 10px;                        
    } 
    .enlace_youtube1, .enlace_youtube2{
        margin-right: 20px;
    }
    .enlace_youtube3, .enlace_youtube2{
        margin-left: 20px;
    }
    
    /* MQ CONTACTOS*/

    .formularios_contacto{
        display: flex;
        justify-content: end;
        overflow: hidden;
        h1, p{ 
            font-size: 15px;
        }
    }
    .contenedor-carrusel{
        display: flex;
        justify-content: center;
        #carouselExampleAutoplaying{
        width: 400px;    
        }
    }
    table, th, td{
        padding: 0px;
    }

}

/* MEDIA QUERIES TABLET */

@media screen and (min-width:768px) and (max-width: 1024px){


    
    h1, h2{
        font-size: 70px;
    }
    
    /* MQ DE INDEX*/
    article{
        div{             
            p{
                margin-top: 20px;                  
                font-size: 17px;
            }
        }
    }
    /* MQ DE DISCOGRAFIA*/

    .grid-container-discografia{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, auto);
        grid-template-areas:"header header"
                            "h1 h1"
                            "link5 link5"
                            "link1 link4"
                            "link2 link7"
                            "link3 link6"
                            "footer footer";
        gap: 20px;
    }
    .link_spotify5{
        margin: 0px 20px;
    }
    .link_spotify3{
        margin-left:20px;
    }
    .link_spotify6{
        margin-right:20px;
    }

/* MQ GALERIA*/

    .grid-container-galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7,auto);
    grid-template-areas:"header header"
                        "titulo titulo"
                        "img1 img2"
                        "img3 img4"
                        "img5 img6"
                        "img7 img8"
                        "titulo2 titulo2"
                        "video1 video3"
                        "video2 video2" 
                        "footer footer";
                        gap: 10px;                        
    } 
    .enlace_youtube2{
        margin: 0px 20px;
    }

    /*  MQ CAMPEONATOS */

    .contenedor-carrusel{
        display: flex;
        justify-content: center;
        #carouselExampleAutoplaying{
        width: 700px;    
        }
    }
}