footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding: 10px 0px;
    margin-top: 60px;
    background-color: #006847;
}

    /* ESTILOS DE LINKS A REDES SOCIALES*/

.redes{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    padding: 10px 30px; 
}
