header{
    grid-area: header;
    h1{
       align-items: center;
       padding: 0px 50px;
       text-shadow: 3px 3px 3px black;
       background-image: linear-gradient(45deg,rgba(0, 128, 0, 0.47), rgba(255, 255, 255, 0.493), rgba(255, 0, 0, 0.47));
    }
    h1 span:nth-child(1){
        color:rgb(4, 255, 0);
    }
    h1 span:nth-child(2){
        color: red;
    }
}
.logo{
    height: 70px;
    width: 70px;
    margin-left: 5px;
}
