@mixin images($width,$height,$object ){
    width:$width;
    height:$height;
    object-fit: $object;
}
@mixin d-flex($justify, $aling, $warp){
    display: flex;
    justify-content: $justify;
    align-items: $aling;
    flex-wrap: $warp;
}